.container
  .container__block
    .container__image.container__image--about
    h1.container__title.font__medium.no-margin About me
    p.font__desc.no-margin I’m a brazilian front-end dev looking for my first experience in a full time job.
  .container__block
    .container__image.container__image--skills
    h1.container__title.font__medium.no-margin Skills
    p.font__desc.no-margin HTML , Pug, CSS, Sass / SCSS, Javascript, ReactJS / ES6, Json & Git / Github
  .container__block
    .container__image.container__image--work
    h1.container__title.font__medium.no-margin Work Experience
    a.font__desc.no-margin(href="https://aceitacafe.com.br/" target='_blank' rel="noopener") · Aceita Café 
    span.font__light (May 2021 / Jun 2021)
    p.container__desc.font__minimum Developed a freelance landing page for a coffee store.
    a.font__desc.no-margin(href="https://biosinergia.com.br/" target='_blank' rel="noopener") · Biosinergia 
    span.font__light (Jun 2021 / Jul 2021) 
    p.container__desc.font__minimum Developed a freelance landing page for a composting company.
    a.font__desc.no-margin(href="https://nomadfy.github.io/" target='_blank' rel="noopener") · Nomadfy 
    span.font__light (Jul 2021 / Aug 2021) 
    p.container__desc.font__minimum Developed a freelance webapp for a travel company.
    a.font__desc.no-margin(href="" target='_blank' rel="noopener") · FKGrupo
    span.font__light (Oct 2021 / Now) 
    p.container__desc.font__minimum Migratring a desktop software for a website to improve workflow using TDD and SOLID methods with typescript in REACT.
