.header
  .header__background
  img.header__image(src='./assets/felipe.png')
  h1.header__name.font__maximum Felipe Deo 
  h2.header__desc.font__medium.no-margin Junior Front-end Developer
  .header__contact 
    a.header__social.header__social--linkedin.font__minimum(href="https://www.linkedin.com/in/felipedeo/" target='_blank' rel="noopener") /felipedeo
    a.header__social.header__social--github.font__minimum(href="https://github.com/felipecdeo" target='_blank' rel="noopener") @felipecdeo
    a.header__social.header__social--mail.font__minimum(href="mailto:devfelipedeo@gmail.com" target='_blank' rel="noopener") devfelipedeo@gmail.com
