head
  title Felipe Deo Resume
  meta(charset='urf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='title' content="Felipe Deo's Resume")
  meta(name='description' content='A simple resume about Felipe Deo.')
  meta(name='keywords' content="felipe, felipe deo, front-end, frontend, front end, dev")
  meta(property='og:type' content='website')
  meta(property='og:url' content='#')
  meta(property='og:title' content="Felipe Deo's Resume")
  meta(property='og:description' content='A simple resume about Felipe Deo.')
  meta(property='og:locale' content='pt_BR')
  meta(property='og:site_name' content="Felipe Deo's Resume")
  meta(property='twitter:url' content='#')
  meta(property='twitter:title' content="Felipe Deo's Resume")
  meta(property='twitter:description' content='A simple resume about Felipe Deo.')
  link(rel="stylesheet" href="/css/main.scss" media="screen")
